/******************************************* Style de la page d'accueil
***************************** Général */

.accueil{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
    overflow: hidden;
}

.presentation{
    position: absolute;
    left: 1.25rem;
    padding: 1rem;
    display: flex;
    justify-content: left;
    font-size: 2rem;
}

.presentation h1{
    margin-top: none;
}

.presentation h2{
    margin: 1rem;
    padding: 1rem;
}


/***************************** Titre (Antoine Chamberland) */

#titre-accueil{
    top: 1.25rem;
}


/***************************** Navigation */

#nav-accueil{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    bottom: 1.25rem;
}

#nav-accueil > h2{
    opacity: 100%;
    transition: opacity 0.15s ease-in-out;
}

#nav-accueil:hover > h2{
    opacity: 25%;
}


/* Sous-catégories */
#nav-accueil a{
    text-decoration: none;
    margin: 1rem;
    visibility: hidden;
    color: var(--texte);
    opacity: 0%;
    transition: visibility 0s, opacity 0.2s ease-out;
}

#nav-accueil:hover > a{
    visibility: visible;
    opacity: 100%;
    transition: transform 0.5s, text-shadow 0.3s linear;
}

#nav-accueil a:hover{
    transform: scale(1.1);
    text-shadow: var(--ombres-50) 2px 2px;
}

/* Navigation lien accueil (Page active) */
#nav-accueil:hover > #a-accueil{
    text-shadow: var(--ombres-50) 2px 2px;
    opacity: 50%;
}
#nav-accueil:hover > #a-accueil span{
    visibility: visible;
    opacity: 100%;
}
#nav-accueil:hover > #a-accueil:hover{
    text-decoration: none;
}

/* Crochets */
#nav-accueil a span{
    visibility: collapse;
    opacity: 0%;
    transition: visibility, opacity 0.25s linear;
}

#nav-accueil a:hover span{
    visibility: visible;
    opacity: 100%;
}


/***************************** Contacter */

#contacter-courriel{
    position: absolute;
    right: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: left;
}