#conteneur-beigne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#beigne{
    width: 60vw;
    height: 100vh;
    font-size: 1.9vmin;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}