html {
    max-height: 100vh;
    overflow: hidden;
}

header {
    padding-top: 5vmin;
    height: 10vh;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
}

.cv {
    position: relative;
    width: 40.9425vmin;
    height: 53vmin;
    z-index: 12;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.5vmin solid var(--ombres-50);
    margin-left: 3.5vmin;
    margin-right: 3.5vmin;
    margin-top: -18vmin;
    transition: transform 0.5s, box-shadow 0.25s linear;
}

.cv:hover {
    transform: translateY(-10px);   
    box-shadow: 8px 8px 1px var(--ombres);
}

.cv a {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2.5vmin;
    font-weight: bolder;
    background-color: transparent;
}

#imp a {
    color: var(--noir);
}

#non-imp {
    background-image: url("../fichiers/CV\ Antoine\ Chamberland.png");
}

#imp {
    background-image: url("../fichiers/CV\ Antoine\ Chamberland\ -\ Version\ Imprimable.png");
}
/* 
#imp::before {
    content: '';
    position: absolute;
    top: 0.01%;
    bottom: 0.01%;
    left: 0.01%;
    right: 0.01%;
    border: 0.5vmin solid var(--noir-fonce);
} */