html {
    max-height: 100vh;
    overflow: hidden;
}

header {
    padding-top: 5vmin;
    height: 10vh;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
}

h1 {
    font-size: 3rem;
    text-decoration: underline;
}

.cv {
    width: 40.9425vmin;
    height: 53vmin;
    background-size: cover;
    margin-top: -18vmin;
}

.cv a {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2.5vmin;
    font-weight: bolder;
    background-color: transparent;
}

#imp a {
    color: var(--noir);
}

#non-imp {
    background-image: url("../fichiers/cv/CV.png");
}

#imp {
    background-image: url("../fichiers/cv/CV-Imprimable.png");
}
/* 
#imp::before {
    content: '';
    position: absolute;
    top: 0.01%;
    bottom: 0.01%;
    left: 0.01%;
    right: 0.01%;
    border: 0.5vmin solid var(--noir-fonce);
} */