.presentation{
    position: absolute;
    left: 1.25rem;
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
    background-color: transparent;
    user-select: none;
}

.presentation h1{
    margin-top: none;
    background-color: transparent;
}

.presentation h2{
    margin: 1rem;
    padding: 1rem;
    background-color: transparent;
}


.nav {
    z-index: 100;
    top: 82vh;
}

#nav-accueil{
    top: -3.5vmin;
    position: sticky;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: transparent;
}

#nav-accueil > h2{
    opacity: 100%;
    position: relative;
    transition: opacity 0.15s ease-in-out;
    background-color: transparent;
    z-index: 150;
}

#nav-accueil:hover > h2{
    opacity: 25%;
}



/***************************** Navigation */

/* Sous-catégories */
#nav-accueil a{
    text-decoration: none;
    margin: 1rem;
    visibility: hidden;
    color: var(--texte);
    opacity: 0%;
    transition: visibility 0s, opacity 0.2s ease-out;
    background-color: transparent;
}

#nav-accueil:hover > a{
    visibility: visible;
    opacity: 100%;
    transition: transform 0.5s, text-shadow 0.3s linear;
}

#nav-accueil a:hover{
    transform: scale(1.1);
    text-shadow: var(--ombres-50) 2px 2px;
}


/* Navigation lien accueil (Page active) */
#nav-accueil:hover > .nav-actif{
    text-shadow: var(--ombres-50) 2px 2px;
    opacity: 50%;
}
#nav-accueil:hover > .nav-actif span{
    visibility: visible;
    opacity: 100%;
}
#nav-accueil:hover > .nav-actif:hover{
    text-decoration: none;
}


/***************************** Contacter */

#contacter-courriel{
    position: absolute;
    z-index: 100;
    min-height: min-content;
    background-color: transparent;
    right: 1rem;
    padding: 1rem;
    font-size: 4vmin;
}

#contacter-courriel a{
    position: sticky;
    padding-left: 0.4rem;
    top: 20px;
    text-decoration: none;
    background-color: transparent;
    z-index: 150;
}

#contacter-courriel a::after {
    content: '';
    position: absolute;
    border-bottom: 0.25rem solid var(--texte);
    width: 0;
    height: 0;
    left: 0%;
    bottom: 2.75%;
    box-sizing: border-box;
    transition: visibility 0.15s linear, height 0.15s linear, width 0.15s linear;
}
#contacter-courriel a:hover:after {
    width: 120%;
    height: 0;
    border-bottom: 0.25rem solid var(--texte);
    visibility: visible;
    transition: visibility 0.15s linear, height 0.15s linear, width 0.15s linear;
}
#contacter-courriel #email:hover:after {
    width: 110%;
    height: 0;
    border-bottom: 0.25rem solid var(--texte);
    visibility: visible;
    transition: visibility 0.15s linear, height 0.15s linear, width 0.15s linear;
}