header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.desc-projet {
    margin-left: 20vmin;
    margin-right: 20vmin;
    margin-bottom: 5vmin;
    margin-top: 1.5rem;
    text-align: justify;
    z-index: 120;
}

#titre-autre {
    margin-top: -2rem;
}

#titre-autre h1 {
    margin-bottom: 3vmin;
}

#autres-projets {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-top: -5rem;
}

#autres-projets .projet {
    min-width: 12vw;
    min-height: 12vw;
    margin-top: 1rem;
}

video {
    margin-top: 15vh;
}

.conteneur-liens{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6rem;
    height: 2rem;
    width: 30vw;
}

.lien-projet{
    position: relative;
    padding: 0.25vmin;
    padding-top: 0vmin;
    width: 10vmin;
    color: var(--bleu);
    background-color: var(--ombres);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: padding-top 50ms ease-in;
    font-size: larger;
    text-align: center;
}

.lien-projet:hover {
    padding-top: 1vmin;
}

.conteneur-liens a{
    text-decoration: none;
}


@media screen and (max-width: 1000px) {
    #autres-projets {    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 60vh;
    }
    
    #autres-projets .projet {
        min-width: 30vw;
        min-height: 30vw;
        margin-bottom: 10vmin;
    }
}