header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    margin-top: 15vh;
}

main{
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.desc-projet {
    margin-left: 20vmin;
    margin-right: 20vmin;
    margin-bottom: 5vmin;
    margin-top: 1.5rem;
    text-align: justify;
    z-index: 120;
}

#titre-autre {
    margin-top: -2rem;
}

#titre-autre h1 {
    margin-bottom: 3vmin;
}

#autres-projets {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-top: -5rem;
}

#autres-projets .projet {
    min-width: 12vw;
    min-height: 12vw;
    margin-top: 1rem;
}

.conteneur-liens{
    display: flex;
    justify-content: space-between;
    margin: 3vmin;
    width: 30vw;
}

.lien-projet{
    margin: 2.5vmin;
    padding: 2vmin;
    width: 12vmin;
    color: var(--bleu);
    background-color: var(--ombres);
    border-radius: 50px;
    transition: transform 0.5s, box-shadow 0.15s linear;
    font-size: larger;
    text-align: center;
}

.lien-projet:hover {
    transform: translateY(-3px);
    /* box-shadow: 5px 5px 1px var(--ombres-50); */
}

.conteneur-liens a{
    text-decoration: none;
}


@media screen and (max-width: 1000px) {
    #autres-projets {    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 60vh;
    }
    
    #autres-projets .projet {
        min-width: 30vw;
        min-height: 30vw;
        margin-bottom: 10vmin;
    }
}