main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#projets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 90vh;
    padding-bottom: -50vmin;
}

.projet {
    z-index: 100;
    min-width: 18vw;
    min-height: 18vw;
    background-size: contain;
    background-color: var(--noir);
    top: 6vmin;
}

.projet::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0%;
    background-color: var(--noir3);
    transition: opacity 0.15s ease-in;
}

.projet:hover::before {
    opacity: 5%;
    background-color: var(--ombres);
}

#transit {
    background-image: url("../fichiers/images/transit.png");
}

#MM {
    background-image: url("../fichiers/images/myositis.png");
}

#moustache{
    background-image: url("../fichiers/images/moustache.png");
}

#bananarama {
    background-image: url("../fichiers/images/bananarama-couverture.png");
}


.info-projets {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: var(--noir3-op);
}

.info-projets h2, .info-projets h3, .info-projets h4 {
    background-color: transparent;
    padding: 0.25vmin;
}

.info-projets h3, .info-projets h4 {
    display: none;
}

.projet:hover > .info-projets h3, .projet:hover > .info-projets h4 {
    display: block;
}

.info-projets h4 {
    color: var(--ombres);
}

@media screen and (max-width: 1000px) {

    #projets {
        display: grid;
        grid-template-columns: 10vmin 10vmin;
        column-gap: 25vmin;
        row-gap: 10vmin;
        height: auto;
        margin: 5vmin auto;
        margin-right: 25vmin;
    }

    .projet {
        margin-top: 0;
        min-width: 30vw;
        min-height: 30vw;
    }
}