*{
    margin: 0;
    padding: 0;
    background-color: var(--noir);
}

body, body a{
    color: var(--texte);
}

h1, h2{
    text-shadow: var(--ombres-50) 3px 3px;
}

h1, h2, h3, a{
    font-family: var(--police-titres);
}