*{
    margin: 0;
    padding: 0;
    background-color: var(--noir);
}

html, body {
    position: relative;
    height: 100%;
    font-size: 2vmin;
    scroll-behavior: smooth;
}

body{
}

body, body a{
    color: var(--texte);
}

.haut-de-page{
    top: 1.25rem;
}

h1, h2{
    text-shadow: var(--ombres-50) 3px 3px;
}

h1, h2, h3, a{
    font-family: var(--police-titres);
}

.ligne-separation {
    height: 10px;
    width: 100vw;
    border-top: 1px dotted var(--ombres);
}

header{
    border-bottom: dotted 1px var(--texte);
}

main {
    background-color: var(--noir);
}

#projets{
    height: 100vh;
}

footer {
    height: 40vh;
    background-color: var(--noir-fonce);
}


/* 
1024x768 à 1920x1080 Pc
360x640 à 414x896 Mobile
601x962 à 1280x800
*/