*{
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    height: 100%;
    font-size: 2vmin;
    scroll-behavior: smooth;
    background-color: var(--noir);
    overflow-x: hidden;
}

body, body a{
    color: var(--texte);
}

.haut-de-page{
    top: 1.25rem;
}

h1, h2{
    text-shadow: var(--ombres-50) 0.15rem 0.15rem;
}

h1, h2, h3, a{
    font-family: var(--police-titres);
}

p {
    font-family: var(--police-texte);
}

.conteneur {
    position: relative;
    z-index: 12;
    background-repeat: no-repeat;
    border: 0.5vmin solid var(--ombres-50);
    margin-left: 3.5vmin;
    margin-right: 3.5vmin;
    transition: transform 0.5s, box-shadow 0.25s linear;
}

.conteneur:hover {
    transform: translateY(-10px);
    box-shadow: 8px 8px 1px var(--ombres);
}

main {
    background-color: var(--noir);
}

#projets{
    height: 100vh;
}

h2 span, span{
    background-color: transparent;
}


/* 
1024x768 à 1920x1080 Pc
360x640 à 414x896 Mobile
601x962 à 1280x800
*/

@media screen and (max-width: 1000px) {
    #titre-accueil h1 br{
        display: inline;
    }
}

@media screen and (min-width: 1000px) {
    #titre-accueil h1 br{
        display: none;
    }
}
