:root{
    /* Couleurs */
    --noir : #202124;
    --noir-fonce : #262626;
    --noir3 : #333;
    --bleu : #292f33;
    --ombres : #c7d0d8;
    --ombres-50 : rgba(199, 208, 216, 0.5);
    --texte : #f0f8ff;
    --noir3-op : rgba(51, 51, 51, 0.95);

    /* Polices */
    --police-titres : 'Teko', sans-serif;
    --police-texte : 'Martel Sans', sans-serif;
}